{% extends "layout.html" %}
{% block content %}
<div class="container text-center">
  <h2>About China Arms Company</h2>
  <p>Welcome to China Arms Company – Your Trusted Source for Quality Arms and Ammunition.</p>

  <h4>Company Overview:</h4>
  <p>China Arms Company is a registered and authorized dealer of arms and ammunition, dedicated to providing reliable and high-quality products to our valued customers. With a commitment to excellence, we adhere to all government regulations and requirements, ensuring that our operations meet the highest standards of legality and integrity.</p>

  <h2>Government Compliance:</h2>
  <p>We take pride in our strict adherence to government regulations, holding essential certificates such as:</p>
  <ul>
    <li><strong>Form X (10):</strong> Authorizing the sale and purchase of Pistols and 12 Bore short guns and their ammunition</li>
    <li><strong>Form IX (12):</strong> Authorizing the sale and purchasing of NPB guns, breech loading guns, and ammunitions.</li>
    <li><strong>Form XIII (13):</strong> Repairing of all NPB pistols, 12 Bore, and Guns.</li>
  </ul>

  <h3>Our Founder:</h3>
  <p>China Arms Company was founded by Mr. Tariq Aziz, a visionary entrepreneur with a passion for firearms and a commitment to safety. Mr. Aziz's dedication to transparency, ethics, and customer satisfaction has shaped the company's principles.</p>
  <p>Explore more about the Owner, <a href="{{ url_for('moreabout') }}">Tariq Aziz</a>.</p>
  <p>Mr. Tariq Aziz is also a web developer who has built several projects, hosted on GitHub. <a href="https://github.com/tariqaziz9164">Click here to visit Tariq Aziz's GitHub profile</a>.</p>

  <h3>Website Development:</h3>
  <p>This website has been meticulously developed by Mr. Tariq Aziz himself, combining his expertise in both the arms industry and web development. Our user-friendly interface aims to provide visitors with a seamless experience, allowing easy navigation and access to essential information.</p>
  <p>Learn more about the <a href="{{ url_for('moreabout_web') }}">Website Development</a>.</p>

  <h3>More Information:</h3>
  <p>For additional details about our company, certifications, and the range of products we offer, click the button below to explore our comprehensive information page.</p>
  <p><a href="{{ url_for('moreinfo') }}" class="btn btn-primary">Explore More Information</a></p>
  <p>At China Arms Company, we prioritize your safety and satisfaction. Feel free to contact us with any inquiries or visit our store to experience our commitment to quality firsthand.</p>
</div>
{% endblock %}