{% extends "layout.html" %}

{% block content %}
 <div class="container mt-4">
        <h2 class="mb-4">30 Bore Pistols</h2>

        <!-- Product Showcase -->
        <div class="row">
    {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=product['image']) }}" class="card-img-top" alt="{{ product['name'] }}">

                <div class="card-body">
                    <h5 class="card-title">{{ product['name'] }}</h5>
                    <p class="card-text">{{ product['description'] }}</p>
                    <p class="card-text"><strong>Price:</strong> Rs{{ product['price'] }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
 </div>

 {% endblock %}