{% extends "layout.html" %}

{% block content %}
 <div class="container text-center">
        <h2>30 Bore Pistols</h2>

        <!-- Product Showcase -->
        <div class="row">
           {% for product in products30bor %}
             <div class="col-md-4 mb-4">
                <div class="card">
                   <img src="{{ url_for('static', filename=product['image']) }}" class="card-img-top item-link" alt="{{ product['name'] }}">

                   <div class="card-body">
                       <h5 class="card-title">{{ product['name'] }}</h5>
                       <p class="card-text">{{ product['description'] }}</p>
                       <p class="card-text"><strong>Price:</strong> Rs{{ product['price'] }}</p>
                   </div>
               </div>
             </div>
           {% endfor %}
        </div>
        <!-- Information about 30 Bore Pistols -->
        <section class="container">
            <h3>About 30 Bore Pistols</h3>
            <h4>Also known TT Pistol (Tula-Tokarev)</h4>
            <p>30 bore pistols are renowned for their precision and reliability. These pistols come in various models, each designed to meet specific needs, whether for personal defense, sport shooting, or professional use.</p>

            <P>Caliber: 7.62x25mm Tokarev
              Bore: 7.62mm <br>
              Designer: Fedor Tokarev <br>
              Manufacturer: Various Soviet and Eastern Bloc arsenals <br>
              Introduced: 1930s  <br>
              Action: Short-recoil, semi-automatic <br>
              Capacity: 8 rounds (detachable box magazine)
          </P>
          
            <h2>Notable Features</h2>
            <p>The TT pistol was designed by Fedor Tokarev and was first produced at the Tula Arsenal in the Soviet Union.<br>
               It was adopted by the Soviet military in the early 1930s as the standard issue sidearm, replacing the Nagant M1895 revolver.<br>
                The pistol is chambered in the powerful 7.62x25mm Tokarev cartridge, known for its high velocity and penetrating capabilities.<br>
                The TT features a simple and robust design, with a single-action trigger and an external hammer.<br>
                It became widely distributed and saw service not only in the Soviet Union but also in various Eastern Bloc countries and other nations during the Cold War.<br>
             </p>

            <h2>Development and Service </h2>
            <h4>
                The TT pistol was developed to meet the need for a modern, semi-automatic sidearm for the Soviet military. Its design was influenced by John Browning's FN Model 1903 pistol. The TT became a standard issue sidearm for the Red Army and Soviet police forces.

                During World War II, the TT pistol saw extensive use by Soviet forces. Its reliability and simplicity made it well-suited for the harsh conditions of the Eastern Front. The TT remained in service for several decades and was eventually replaced by the Makarov PM in the 1950s.
            </h4>  
            <br>
            <h2> China 30 Bore Pistols</h2>

            <h4>China Manufecture</h4>
            <p>China has manufactured several types of pistols. One of the notable ones is the Type 54, which is a Chinese variant of the Soviet TT-33 pistol. Here are the details:

            Type 54 (Norinco NP-17):

             Caliber: 7.62x25mm Tokarev
             Bore: 7.62mm
            Designer: Based on the Soviet TT-33 design
            Manufacturer: Norinco (China North Industries Corporation)
            Introduced: Late 1940s (after the Chinese Civil War)
            Action: Short-recoil, semi-automatic
            Capacity: 8 rounds (detachable box magazine)
           Notable Features:
           The Type 54 is a Chinese-made copy of the Soviet Tokarev TT-33 pistol.
           It was adopted by the People's Liberation Army (PLA) of China and used by various police and military units.
           Like the TT-33, it fires the powerful 7.62x25mm Tokarev cartridge, known for its velocity and penetrating capabilities.
           The Type 54 shares many design similarities with the original TT-33, including a single-action trigger and an external hammer.
           It was produced by Norinco, a major Chinese defense manufacturer.
           Development and Service:
           After the Chinese Civil War, China acquired various military equipment, including firearms, from the Soviet Union. Among these acquisitions were TT-33 pistols. China began manufacturing its version of the TT-33, known as the Type 54, domestically.

           The Type 54 served as a standard-issue sidearm for the People's Liberation Army (PLA) and various Chinese law enforcement agencies. It saw extensive use during conflicts and military engagements. Similar to its Soviet predecessor, the Type 54 was known for its reliability and robust design.

           The Type 54 remained in service for several decades before being gradually phased out by more modern pistol designs. Despite its phasedown, the Type 54 remains available in civilian markets and has gained popularity among collectors due to its historical significance as a Chinese military handgun.</p>

            <h4>World Wars Era:</h4>
            <p>The two World Wars marked a crucial period for German-made firearms, including 30 bore pistols. Manufacturers like Mauser and Walther produced iconic models that gained recognition for their reliability and performance on the battlefield.</p>

            <h4>Post-War Influence:</h4>
            <p>After World War II, German firearm manufacturers continued to contribute to the evolution of 30 bore pistols. The emphasis on precision engineering and adherence to quality standards became synonymous with German-made firearms.</p>

            <h4>Russian-made 30 Bore Pistols</h4>
            <p>Russian-made 30 bore pistols have a storied history, reflecting the nation's commitment to producing reliable firearms for various purposes. The Russian firearms industry has been influenced by both military and civilian needs.</p>

            <h4>Soviet Era Development:</h4>
            <p> During the Soviet era, Russia became a major producer of small arms, including 30 bore pistols. The emphasis on simplicity, ruggedness, and ease of production resulted in models that were well-suited for military and law enforcement use.</p>

            <h4>Cold War Influence:</h4>
            <p>The Cold War era saw the widespread adoption of Russian-made 30 bore pistols by military and police forces in the Eastern Bloc and allied nations. Models like the Makarov PM gained international recognition for their durability and straightforward design.</p>

            <h4> Post-Soviet Era: </h4>
            <p>Following the dissolution of the Soviet Union, Russian firearm manufacturers continued to produce 30 bore pistols, catering to both domestic and export markets. Modern Russian-made pistols often incorporate updated features and materials while retaining the robustness of earlier designs.</p>

          </section>
    </div>
{% endblock %}
