<!-- footer.html -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">

          <div class="row text-center">

                 <div class="col-md-4 mb-4 text-center">
                  <a href="{{ url_for('home') }}">
                  <img src="{{ url_for('static', filename='logowhite.png') }}" width="50" height="50" alt="Logo">
                  <p>China Arms Company an authorised and trusted Dealer of NPB Arms.</p>

                    </a>

                 <div class="container-fluid text-center socialLinks">
                   <div class="row align-items-start">
                     <div class="col">
                        <a href="https://api.whatsapp.com/send?phone=3339139164" target="_blank" class="whatsapp-icon">
                         <img src="{{ url_for('static', filename='whatsapp.svg') }}" alt="WhatsApp">
                        </a>
                     </div>
                     <div class="col">
                        <a href="https://facebook.com/kpkhunters" target="_blank" class="bs-primary">
                           <img src="{{ url_for('static', filename='facebook.svg') }}" alt="Facebook">
                        </a>
                     </div>
                     <div class="col">
                        <a href="https://www.instagram.com/your-instagram-page" target="_blank">
                           <img src="{{ url_for('static', filename='instagram.svg') }}" alt="Instagram">
                        </a>
                     </div>
                  </div>
           </div>
                     
 </div>           
            
                

                 <div class="col-md-4 mb-4 text-center">   
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('products') }}">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about') }}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                            </li>
                        </ul>
                 </div>
                 <div class="col-md-4 mb-4 text-center">
                   <a href="mailto:digitalonlinelogic@gmail.com">digitalonlinelogic@gmail.com</a>
                   

                   <br>
                   <a href="tel:+923339139164">03339139164</a>
                   <br>
                   <a href="{{ url_for('history') }}" target="_blank">Arms History</a>
                   <br>
                   <a href="{{ url_for('pistols_history') }}" class="btn">Pistols History</a>
                   <br>
                   <a href="{{ url_for('guns_history') }}" class="btn btn-sm">Guns History</a>
                 </div>

            
           </div>  
                   

     </div>      

        <!-- Copyright Notice -->
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="text-muted">© 2009 China Arms Company. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>
