{% extends "layout.html" %}


{% block content %}

<!-- Page Content -->

<div class="container-fluid text-center socialLinks">
  <div class="row align-items-start">
    <div class="col">
      <a href="https://api.whatsapp.com/send?phone=3339139164" target="_blank">
        <img src="{{ url_for('static', filename='whatsapp.svg') }}" alt="WhatsApp" style="width: 40px; height: 40px; filter: brightness(200%);"> <!-- Increase size and change color -->
      </a>
    </div>
    <div class="col">
      <a href="https://facebook.com/kpkhunters" target="_blank">
        <img src="{{ url_for('static', filename='facebook.svg') }}" alt="Facebook" style="width: 40px; height: 40px; filter: brightness(150%);"> <!-- Increase size and change color -->
      </a>
    </div>
    <div class="col">
      <a href="https://www.instagram.com/your-instagram-page" target="_blank">
        <img src="{{ url_for('static', filename='instagram.svg') }}" alt="Instagram" style="width: 40px; height: 40px; filter: brightness(150%);"> <!-- Increase size and change color -->
      </a>
    </div>
  </div>
</div>


  <div id="animation-container">
    <dotlottie-player src="https://lottie.host/1e539c40-9f20-4e49-aea6-763da0bfb066/xTK3Rpg8b7.json" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay></dotlottie-player>
  </div>


<div class="container text-center">
   <div class="container">
    <h2 class="headingOne">Products</h2>
   </div> 
   
    <!-- Categories Section -->
<section class="mt-4">
    <div class="row">


        <div class="col-md-4 mb-4 text-center">
            <a href="{{ url_for('mm9_pistols') }}" class="item-link">
                <img src="{{ url_for('static', filename='10.png') }}" class="img-fluid" alt="9mm Pistols">
            </a>
            <h3>9mm Pistols</h3>
            <p>Explore our collection of 9mm pistols, known for their accuracy and reliability.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
            <a href="{{ url_for('bore30_pistols') }}" class="item-link">
                <img src="{{ url_for('static', filename='30bore3.jpg') }}" class="img-fluid image-increase" alt="30 Bore Pistols">
            </a>
            <h3>30 Bore Pistols</h3>
            <p>Discover the exceptional world of 30 bore pistols, where power meets precision.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
            <a href="{{ url_for('bore12_short_guns') }}" class="item-link">
                <img src="{{ url_for('static', filename='12boregroup.png') }}" class="img-fluid" alt="12 Bore Short Guns">
            </a>
            <h3>12 Bore Short Guns</h3>
            <p>Discover the power and versatility of our 12 bore short guns for various shooting applications.</p>
        </div>
    </div>
</section>



        <hr>


<section class="mt-4">
    <div class="row">

        <div class="col-md-4 mb-4 text-center">
            <a href="{{ url_for('Guns') }}" class="item-link">
                <img src="{{ url_for('static', filename='13.png') }}" class="img-fluid" alt="Guns">
            </a>
            <h3>Guns</h3>
            <p>Explore our wide range of guns suitable for different shooting needs.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
            <a href="{{ url_for('ammunition') }}" class="item-link">
                <img src="{{ url_for('static', filename='ammunition.jpg') }}" class="img-fluid" alt="Ammunitions">
            </a>
            <h3>Ammunitions</h3>
            <p>Find high-quality ammunition to complement your firearms.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
            <a href="{{ url_for('Accesories') }}" class="item-link">
                <img src="{{ url_for('static', filename='kashdouble.png') }}" class="img-fluid" alt="Accessories">
            </a>
            <h3>Accessories</h3>
            <p>Enhance your shooting experience with our range of accessories.</p>
        </div>
    </div>
</section>


        <hr>


        <div class="container text-center">

            <p>At China Arms Company, we proudly stand as a registered and authorized arms and ammunition dealer, dedicated to delivering unparalleled products to our esteemed clientele. Committed to excellence, we strictly adhere to all government regulations, ensuring our operations maintain the highest standards of legality and integrity.For More information click
                <a href="{{ url_for('about') }}" target="_blank" class="btn btn-outl">More About China Arms Company</a></p>
       </div>

       <div class="container text-center">
           <h2>About Founder </h2>
                
            <p>China Arms Company was founded by Mr. Tariq Aziz son of Haji Said Rehman a well known person in weapons Expert communities , a visionary entrepreneur with a passion for firearms and a commitment to safety. Mr. Aziz's dedication to transparency, ethics, and customer satisfaction has shaped the company's principles.
                <a href="{{ url_for('moreabout') }}">More about Tariq Aziz</a></p>
       </div>
       <hr>


        <!-- Additional Sections for Each Category -->
        <!-- Add sections for individual categories as needed -->

        <!-- Contact Information -->
        <section class="container text-center">
            <h3>Have Questions ?</h3>
            
            
            <a href="https://wa.me/3339139164" target="_blank" class="btn btn-outline-success"><i class="fab fa-whatsapp"></i> WhatsApp</a>
            <br>
            <h3>Or Fill the form and we will contact you soon.</h3>
            
            <a href="{{ url_for('contact') }}">Contact</a>
            <br>
            <p>Your satisfaction and safety are our top priorities.</p>
            
        </section>

</div> 
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
{% endblock %}