{% extends "layout.html" %}

{% block content %}
<h2>Website development</h2>
<p>In today's digital era, the ability to create and manage websites is a valuable skill that opens doors to countless opportunities. If you're a complete beginner eager to dive into the world of web development, you've come to the right place. In this guide, we'll walk you through the fundamentals of web development, starting from HTML and CSS, all the way to building dynamic web applications with Python and Flask.
</p>
<h3>Getting Started with HTML and CSS</h3>
<p>HTML (HyperText Markup Language) and CSS (Cascading Style Sheets) are the building blocks of the web. HTML provides the structure and content of a web page, while CSS controls its presentation and layout.
</p>
<h3>HTML: Creating the Structure</h3>
<p>HTML uses tags to define the structure of a web page. Tags are enclosed in angle brackets  and come in pairs, with an opening tag and a closing tag. For example, to create a heading, you would use the 'h1' tag:</p>
<xmp>
  <html>
  <head>
    <title>My Website</title>
  </head>
  <body>
    <h1>Hello, World!</h1>
  </body>
  </html>
</xmp>

<h2>CSS: Styling Your Website</h2>
<p>CSS allows you to style HTML elements by applying rules that define how they should appear on the page. You can use CSS to set properties like color, font size, and layout.
</p>
<xmp>
/* Stylesheet.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

p {
  color: #666;
}
</xmp>
<h2>Introducing Python:</h2><h4> Your Gateway to Dynamic Web Development</h4>
<p>Python is a powerful and beginner-friendly programming language that is widely used in web development. Its simplicity and readability make it an excellent choice for beginners.
</p>
<h2>Setting Up Your Python Environment</h2>

<p>First, make sure Python is installed on your computer. You can download it from the official Python website (https://www.python.org/downloads/). Once installed, you can write Python code using a text editor or an Integrated Development Environment (IDE) like VS Code or PyCharm.
</p>










{% endblock %}

