{% extends "layout.html" %}

{% block content %}



     <div class="container  text-center">
	    <div class="container">
	    <img src="{{ url_for('static', filename='IMG20240412175150.jpg') }}" class="img-fluid" alt="Founder Image" style="height: 300px; width: 200px; margin-top: 30px;">


     </div>

       <h1>Tariq Aziz's Projects</h1>
     <div class="container">  
        <div class="row">
          <div class="col">
              <div class="card">
                  <img src="{{ url_for('static', filename='alilogo.png') }}" alt="Project 1" class="card-img-top">
                  <div class="card-body">
                      <h2 class="card-title">Streamlining Tailor Shop Operations</h2>
                      <p class="card-text">Our Tailor Shop Management System revolutionizes the way tailor shops operate, providing a comprehensive and efficient solution for managing customer measurements and enhancing workflow processes. Developed as a web-based application using Python, our system empowers tailor shops to seamlessly organize, track, and analyze customer measurements with ease.</p>
                      <a href="{{url_for('moreaboutAli')}}" class="btn btn-primary">Read more</a>
                      <a href="https://github.com/tariqaziz9164" class="btn">Look on GitHub</a>
                   </div>
              </div>
           </div>
           <div class="col">
             <div class="card">
                 <img src="{{ url_for('static', filename='schoollogo.png') }}" alt="Project 2" class="card-img-top">
                 <div class="card-body">
                   <h2 class="card-title">Revolutionizing Education Management</h2>
                   <p class="card-text">Our School Management System is a comprehensive solution designed to streamline administrative tasks, improve communication, and enhance data analysis for educational institutions. With robust CRUD (Create, Read, Update, Delete) functionality and intuitive graphical representations of key financial metrics, our system empowers schools to efficiently manage operations, track finances, and make data-driven decisions.</p>
                   <a href="{{url_for('moreaboutSchool')}}" class="btn btn-primary">Read more</a>
                   <a href="https://github.com/tariqaziz9164/schooldatabase" class="btn">Look on GitHub</a>
                  </div>
              </div>
          </div>
       
           <div class="col">
              <div class="card">
                  <img src="{{ url_for('static', filename='datalogo.png') }}" alt="Project 3" class="card-img-top">
                  <div class="card-body">
                      <h2 class="card-title">Empowering Data-driven Decision-Making</h2>
                      <p class="card-text">Our Data Analysis and Visualization Platform empowers organizations to unlock the full potential of their data, enabling them to make informed decisions and gain valuable insights. With intuitive features for data manipulation, cleansing, and visualization, our platform simplifies the process of analyzing complex datasets and creating dynamic dashboards that drive actionable outcomes.</p>
                      <a href="{{url_for('moreaboutData')}}" class="btn btn-primary">Read more</a>
                      <a href="https://github.com/tariqaziz9164/Data" class="btn">Look on GitHub</a>
                 </div>  
               </div>
            </div>
       </div>

 <hr>

<div class="container">
	<h2>Certificates</h2>
  <h3> Following are few certificates
   <div class="row">
  	 <div class="col">
       <div class="card">
         <img src="{{ url_for('static', filename='MLpanda.png') }}" alt="certificate1">
         <h2>Certificate of Pandas a powerful python library for cleaning data.</h2>
         <p>Pandas is a great tool for data science.</p>
         <p><a href="#">Read more</a></p>
       </div>
     </div>
     <hr>
     <div class="col">   
       <div class="card">
         <img src="{{ url_for('static', filename='MLintro.png') }}" alt="certificate2">
        <h2>Certificate of Machine Learning Introduction</h2>
        <p>In this short course my concept of ML is clear.</p>
        <p><a href="#">Read more</a></p>
       </div>
     </div>
     <div class="col">    
      <div class="card">
         <img src="{{ url_for('static', filename='datavisualization.png') }}" alt="certificate3">
         <h2>Data Visualization</h2>
         <p>After cleaning the the next step is to exposed data information in shape of graph or chart.</p>
         <p><a href="#">Read more</a></p>
      </div>
     </div>
</div>






</div>
{% endblock %}